*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    line-height: 50px;
    background-color: white;
}
.navbar{
    background-color: #19350C;
    display: flex;
    align-items: center;
    color: white;
    height: 100px;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.menu{
    display: flex;
}
.menu li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: 0.5s;
}
.menu li a.active{
    background-color: #DCEBCA;
    border-radius: 5px;
    color: #19350C;
    padding: 7px;
}
.impact-content1{
    border-radius: 10px;
    width: 65%;
    padding: 10px;
    box-shadow: 3px 4px 2px 3px #DCEBCA;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    background-color: #DCEBCA;
    text-align: center;
}   
.impact-content1 h2{
            text-align: center;
            font-style: italic;
            color: #19350C;
        }
        .impact-content1 img{
            width: 40%;
            border-radius: 30px;
            object-fit: cover;
            padding: 20px;
        }
        .impact-content1 hr{
            margin: auto;
            width: 200px;
            margin-bottom: 10px;
            
        }    


.footer{
    background-color:#19350C;
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    line-height: 30px;
}
.footer hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ft-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.ft-container a{
    color: azure;
    text-decoration: none;
}
.ft-container a:hover{
    color: #DCEBCA;
}
.social-icons a{
    font-size: 30px;
    margin: 7px;
}
.facebook i{
    color: darkblue;
}
.twitter i{
    color: blue;
}
.youtube i{
    color: red;
}
.instagram i{
    color: pink;
}
.social-icons a i:hover{
    transform: scale(1.2);
}